div.nopad .value-box-area {
  padding: .75rem;
}

.btn-outline-primary {
  padding: .75rem;
  color: grey;
  border: 1px solid #ffffff;
}

.btn-outline-primary:hover{
  color: #ffffff !important;
  background-color: grey !important;
  border: 1px solid #ffffff !important;
}
